<section>
    <h1 class="text-center text-main my-4">Forgot Password</h1>

    @switch (step) 
    {
        
                    @case (1)
                    {
                        <form [formGroup]="verifyEmail" class="shadow-sm my-3 rounded-3 p-3 bg-main-light" (ngSubmit)="verifyEmailSubmit()">
                            <div class="my-3">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" name="email" id="email" class="form-control mt-2" />
                            </div>
                            <button class="btn-main" [disabled]="verifyEmail.invalid">
                                Verify Email
                            </button>
                        </form>

                    } 
                    
                    @case (2)
                    {

                        <form [formGroup]="verifyCode" class="shadow-sm my-3 rounded-3 p-3 bg-main-light" (ngSubmit)="verifyResetCodeSubmit()">
                            <div class="my-3">
                                <label for="resetCode">Code</label>
                                <input type="text" formControlName="resetCode" name="resetCode" id="resetCode" class="form-control mt-2" />
                            </div>
                            <button class="btn-main" [disabled]="verifyCode.invalid">
                                Verify Code
                            </button>
                        </form>

                    } 
                    @case (3)
                    {
                        <form [formGroup]="resetPassword" class="shadow-sm my-3 rounded-3 p-3 bg-main-light" (ngSubmit)="resetPasswordSubmit()">
                            <div class="my-3">
                                <label for="email">Email</label>
                                <input type="email" readonly  formControlName="email" name="email" id="email" class="form-control mt-2" />
                            </div>

                            <div class="my-3">
                                <label for="password">New Password</label>
                                <input type="password" formControlName="newPassword" name="newPassword" id="newPassword"
                                    class="form-control mt-2" />
                            </div>
                            <button class="btn-main" [disabled]="resetPassword.invalid">
                                Reset Password
                            </button>
                        </form>

                    } 
  
  
     }
</section>